.toolsheading {
	font-size: 2rem;
	color: aliceblue;
	font-weight: bolder;
	margin-top: 1rem;
}

section ul li {
	display: flex;
	margin: 2rem;
	align-items: center;
	padding: 1rem;
}
ul li p {
	font-size: medium;
	padding: 0 1rem;
}

ul li .desc {
	font-size: medium;
	margin-left: 1.5rem;
}

.desc h3 {
	color: aliceblue;
	text-decoration: underline;
}

.desc p {
	color: rgb(119, 152, 180);
}
