/* section ul li:nth-child(odd) {
	background: #f7f7f7;
}
section ul li:nth-child(even) {
	background: #fff;
} */

.toolsheading {
	font-size: 2rem;
	font-weight: bolder;
	margin-top: 1rem;
	color: aliceblue;
}
ul li {
	align-items: center;
	padding: 1rem 4rem;
	text-align: center;
}
ul li .subtitle {
	font-size: xx-large;
	font-weight: bolder;
	padding: 0 1rem;
	margin-top: 2rem;
	color: aliceblue;
}

.caption {
	font-size: medium;
	color: #6b82b9;
	padding: 1rem;
}
